html {
  color: #333;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(0, 48, 63);
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
  color: white;
}

#info {
  background-color: white;
  color: black;
  margin-left: 10%;
  padding: 15%;
}

#souppicture {
  margin-right: 20%;
}

#preptime {
  margin: 0;
  color: white;
  margin-left: 10%;
}

#method {
  background-color: white;
  margin-right: 20%;
  text-align: start;
}

#suppe {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

footer {
  background-color: rgb(0, 48, 63);
  padding: 0;
  margin: 1em;
  border: 0;
  color: black;
  text-align: center;
}
